@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 20px;
  padding: 0px;
  background-color: whitesmoke;
}

figure:hover {
  transform: scale(1.5);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}

ul.nav {
  padding-left: 10px;
  background-color: whitesmoke;
  text-align: center;
}

ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li > a:link,
a:visited {
  color: rgb(0, 11, 92);
}

ul.nav > li > a:visited {
  color: rgb(94, 94, 94);
}

ul.nav > li:hover {
  background-color: rgb(0, 11, 92);
  color: white;
}
ul.nav > li:focus {
  background-color: rgb(0, 11, 92);
  color: white;
}
ul.nav > li:hover > a {
  color: white;
  display: inline-block;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.divider {
  background-color: rgb(0, 11, 92);
  height: 2px;
}
footer {
  text-align: center;
  padding: 2px;
  background-color: rgb(242, 124, 52);
  color: white;
}
