@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Corinthia&display=swap");

:root {
  --color_1: #4a2020;
  --color_2: #703e3a;
  --color_3: #77878b;
  --color_4: #113940;
  --color_5: #102023;
  --color_6: #f2edeb;
}

html {
  overflow: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 11, 92);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 20px;
  background-color: var(--color_6);
  height: 100%;
  margin: 0px;
}

header {
  background-color: var(--color_4);
  background: radial-gradient(
    circle at 90%,
    var(--color_3) 0,
    var(--color_4) 50%
  );
  border-radius: 5px 20px 5px 20px;
  margin: 0.5em;
}

main {
  margin: auto;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.content {
  height: 65vh;
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
  width: 88%;
  margin-left: 12%;
  background-color: var(--color_6);
}

footer {
  height: 7.5vh;
  flex-shrink: 0;
  text-align: center;
  border-top: 2px;
  background-color: var(--color_4);
  color: var(--color_6);
}
img {
  display: block;
  width: 90%;
}

a img {
  display: block;
  margin: auto;
  min-width: 256px;
  max-width: 300px;
}
#self {
  width: 300px;
}
img:hover:not(#self) {
  transform: scale(1.05);
}
#purpose-statement {
  padding: 25px;
}
figure {
  justify-content: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  display: table-caption;
  caption-side: top;
  text-align: center;
  font-weight: bold;
}
.examples {
  display: flex;
  text-align: center;
}

h1 {
  font-family: "Corinthia", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 4em;
  line-height: 1.15;
  color: var(--color_6);
  padding-left: 20px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: var(--color_6);
  padding-left: 20px;
  font-weight: bold;
}
h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: var(--color_1);
  padding-left: 20px;

  -webkit-font-smoothing: antialiased;
}
#gridded-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: var(--color_1);
  border: transparent 3px solid;
}

a:hover {
  color: var(--color_1);
  border: var(--color_3) 3px dotted;
}

a:visited {
  color: var(--color_2);
}

#resume-link {
  color: var(--color_6);
  justify-content: center;
}

.unfocused {
  display: none;
}
.focused {
  display: block;
  font-size: 20px;
  color: rgb(0, 11, 92);
  margin-left: 20px;
}

.main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 0.5em;
  background-color: var(--color_1);
  color: var(--color_6);
  opacity: 0;
}
.main-content-link:focus {
  left: 0px;
  opacity: 1;
  color: var(--color_6);
}
figure {
  background-color: var(--color_6);
  color: var(--color_2);
  justify-content: center;
  align-items: center;
}
.icon {
  width: 44px;
  height: 44px;
  display: block;
}

#speaker-icon.muted {
  display: none;
}

#mute-icon.unmuted {
  display: none;
}

#webspeech {
  position: absolute;
  display: flex;
  gap: 5px;
  padding-right: 5px;
}
