@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  overflow: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 11, 92);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 20px;
  background-color: whitesmoke;
  height: 100%;
  margin: 0px;
}

header {
  background-color: rgb(242, 124, 52, 0.5);
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.content {
  height: 65vh;
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
  width: 88%;
  margin-left: 12%;
  background-color: white;
}

footer {
  height: 7.5vh;
  flex-shrink: 0;
  text-align: center;
  border-top: 2px;
  border-color: rgb(0, 11, 92);
  background-color: rgb(242, 124, 52, 0.5);
  color: white;
}

a img {
  display: block;
  margin: auto;
  min-width: 256px;
}
#self {
  width: 300px;
}
img:hover:not(#self) {
  transform: scale(1.05);
}

figure {
  justify-content: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  display: table-caption;
  caption-side: top;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: rgba(0, 11, 92);
  -webkit-font-smoothing: antialiased;
  padding-left: 20px;
  font-weight: bolder;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: rgba(0, 11, 92);
  -webkit-font-smoothing: antialiased;
  padding-left: 20px;
  font-weight: bold;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: rgba(0, 11, 92);
  padding-left: 20px;

  -webkit-font-smoothing: antialiased;
}

ul.nav {
  padding: 0px;
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
  width: 12%;
  height: 75vh; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border-right: 2px solid rgb(0, 11, 92);
  margin: 0px;
}

ul.nav > li {
  display: inline-block;
  font-weight: bold;
  padding: 15px 20px;
}
ul.nav > li > a:link,
a:visited {
  color: rgb(0, 11, 92);
}

ul.nav > li:hover {
  background-color: rgb(0, 11, 92);
  color: white;
}
ul.nav > li:focus {
  background-color: rgb(0, 11, 92);
  color: white;
}
ul.nav > li:hover > a {
  color: white;
  display: inline-block;
}
ul.nav > li > a:hover {
  color: rgb(242, 124, 52);
  display: inline-block;
}
.mini-nav > li:hover > a {
  background-color: white;
  color: rgb(0, 11, 92);
}
ul.nav > li:hover > .mini-nav > li > a {
  color: white;
  background-color: rgb(0, 11, 92);
}
ul.nav > li:hover > .mini-nav > li:hover > a {
  color: rgb(242, 124, 52);
  background-color: rgb(0, 11, 92);
}

.column {
  float: left;
  width: 25%;
  padding-top: 10px;
  justify-content: center;
}
.two-column {
  float: left;
  width: 50%;
  padding-top: 10px;
  justify-content: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.divider {
  background-color: rgb(0, 11, 92);
  height: 2px;
}

.bkgdDesc {
  margin-right: 100px;
}

div.listedItems {
  padding: 2.5%;
  padding-top: 0px;
}
